header{
    position: fixed;
}

.header_inner{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .home_icon{
        width: 30px;
        height: 30px;
    }

    .logo{
        padding: 10px;
    }

    .menu{
        padding: 10px;
    }

    .menu-list{
        overflow: hidden;
        margin-top: 10px;
        li{
            float: left;
            margin: 0 10px;
            cursor: pointer;
            padding: 0 10px;
            font-size: 12px;
        }
    }
}


/*=============== welcome ===============*/

